@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

body {
    background-color: #e3e3e3;
    font-family: "Josefin Sans";
    display: grid;
    place-content: center;
    min-height: 100vh;
}


.wrapper {
  
    box-shadow: 0 5px 30px rgb(206, 206, 206);
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.content {
    background-image: url(/Users/nurdaulettauekel/Downloads/base-apparel-coming-soon-master/images/bg-pattern-desktop.svg);
    padding: 100px 200px;
    width: 450px;
    
}
.logo {
}
.title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 80px;
}

.title span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.subtitle {
    color: hsl(0, 36%, 70%);
    margin-bottom: 40px;
}
.form div {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px#cccccc solid ;
    border-radius: 30px;
}
.input {
    border: none;
   
    padding: 10px 20px;
}

.input::placeholder {
    color: hsl(0, 36%, 70%);
}

.button {
    background-color: #ef9e9b;
    padding: 10px 30px;
    border-radius: 30px;
   
}
.main-image {
}